<div class="col-sm-3">
    <div class="card">
        <img src="{{source}}" alt="{{cryptoName}}"/>
        <div class="caption">
            <h3>{{cryptoName}}</h3>
            <p>Symbole: {{cryptoSymbol}}</p>
        </div>
        <button type="button" class="btn btn-success voir-plus" id="{{cryptoId}}" role="button" data-bs-toggle="modal" data-bs-target="#main_modal">Voir plus</button>
    </div>
</div>