<tr>
    <th scope="row">{{cryptoRank}}</th>
    <td><img src="{{sourceImg}}" alt="{{cryptoName}}"/></td>
    <td>{{cryptoName}}</td>
    <td>{{cryptoSymbol}}</td>
    <td>
        <button type="button" class="btn btn-outline-success search-voir-plus" id="{{cryptoId}}" role="button" data-bs-toggle="modal" data-bs-target="#main_modal">
            Voir plus
        </button>
    </td>
</tr>